.container {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-style: 25px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn_logout {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
}
