.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  opacity: 0.9;
}
